* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    font-size: 15px;
}

.container {
    position: relative;
    max-width: auto;
    max-height: 50%;
    margin: 0 auto;
}

.container .flag {
    vertical-align: middle;
}

.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    /* Fallback color */
    background: rgba(0, 0, 0, 0.8);
    /* Black background with 0.8 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

footer {
    display: block;
    font-size: 13px;
}